a{
	width: 300px;
	height: 300px;
	position: relative;
	display: block;
	text-align: center;
	
}
.overlay{
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: background-color 1s linear;
}
.overlay:hover{
	background: rgba(0,0,0,0.5);
}
.overlay .overlay-content{
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}